body{
    background: #EEEEEE;
    margin:0;
    font-family: Arial;
}

header{
    background: #333333;
    padding: 20px;
    color: white;
    text-align: center;
}

main{
    background: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

nav a{
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
    background-color: #0096ff;
    color: black;
}

main h1 {
    text-align: center;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}


