body{
    background: #EEEEEE;
    margin:0;
    font-family: Arial;
}

header{
    background: #333333;
    padding: 20px;
    color: white;
    text-align: center;
}

main{
    background: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

nav a{
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
    background-color: #0096ff;
    color: black;
}

main h1 {
    text-align: center;
}

main iframe {
    width: 100%;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.gallery_item .desc {
    padding: 15px;
    text-align: center;
    color: #0096ff;
}

.gallery {
    display: inline-block
}

.gallery_item:hover {
    border: 3px solid #0096ff;
    transform: scale(1.4);
}

.gallery_item img {
    width: 100%;
    margin-top: 5px;
    height: auto;
}

.gallery_item {
    margin: 5px;
    border: 3px solid #333333;
    border-radius: 5px;
    float: left;
    width: 240px;
    background: #333333;
}

table {
    width: 100%;
}

td, th {
    border: 1px solid #096222;
    padding: 4px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: gray;
}

tr:nth-child(odd) {
    background-color: yellow;
}

th:nth-child(even) {
    background-color: aqua;
}

th:nth-child(odd) {
    background-color: red;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.card {
    background: #EEEEEE;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.w-30 {
    width: 30px;
}

.w-70 {
    width: 70px;
}

.column {
    display: flex;
    flex-direction: column;
}